#icon{
     display:block;
     margin:auto;
 }
 .bgimg{
     width:100%;
 }
 .dropdown-menu{
    margin-top: 15px;
    border-top: 0px;
    background-color: rgba(41,43,44,0.7);
 }
 a{
    color:white;
 }
 a:hover{
    color:white;

 }
 a:link{
    text-decoration: none;
 }
 .dropdown-menu a:hover{
    background-color: #bababa;
 }
 .dropdown-menu li a{
     letter-spacing: 2px;
    display: block;
 }
ul li a{

    text-align: center;
 }
 li{
  margin: 10px 0;
 }
 .navbar-inverse .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
a:active{
    color:white;
}
a:visited{
    color:white;
}
a:hover{
    color: white;
}
.toupright{
    margin-left : 60%;
    margin-top: -10%;
}

.toupright2{
    margin-left : 35%;
    margin-top: -14%;
}
a:link{
    color:white;
}